form {
    display: flex;
    justify-content: center;
    margin: 2px;
    background: white;
    padding: 1.5em;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 0.5em;
    font-family: 'Raleway', sans-serif;
}
input {
    border-radius: 0.5em;
}
button {
    all: unset;
}
button:hover {
    background-color: #e6e4e4;
    border-radius: 0.5em;
}

.title {
    background: white;
    color: #8ed201;
    font-size: 1.8em;
    margin: 0px 0px 10px 0px;
}
.inputs {
    display: flex;
    flex-flow: row wrap;
}
.text, .text2 {
    visibility: hidden;
}
form:hover .text{
    visibility: visible;
}

.subUserInput {
    margin-right: 2em;
}
.userInput, .passInput {
    margin-right: 0.5em;
}
.goToLogin:hover .text2{
    visibility: visible;
}
.goToLogin {
    margin-top: 0.5em;
}
.userCreate {
    font-size: 1.4em;
    background-color: rgb(255, 217, 217);
}