<app-navbar></app-navbar>
<form (submit)="registerUser()">
  <div class="title">
    <h2>Registrar usuario</h2>
  </div>
  <div class="inputs">
    <div class="userInput">
      <img src="/assets/images/user-silhouette.png" alt="Usuario">
    </div>
    <input class="subUserInput" type="text" placeholder="usuario" [(ngModel)]="username" name="user">
    <div class="passInput">
      <img src="/assets/images/key-password.png" alt="Password">
    </div>
    <input type="password" placeholder="contraseña" [(ngModel)]="password" name="pass">
  </div>
  <p class="text" *ngIf="!valid">
    El usuario debe tener 4 caracteres mínimo. Y la contraseña debe contener números y letras.
  </p>
  <div class="sendInput" *ngIf="!valid">
    <button type="submit" value="Register">
      <img src="/assets/images/cross-in-a-circle.png" alt="enviar formulario">
    </button>
  </div>
  <div *ngIf="error">{{ error | json }}</div>
  <div *ngIf="valid">
    <p class="userCreate">
      Usuario creado!!!
    </p>
  </div>
  <div *ngIf="valid" class="goToLogin">
    <button routerLink="/login">
      <img src="/assets/images/login (1).png" alt="Go to login!">
    </button>
    <p class="text2">Ir a login</p>
  </div>
</form>
