form {
    display: flex;
    justify-content: center;
    margin: 2px;
    background: white;
    padding: 1.5em;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 0.5em;
}
input {
    border-radius: 0.5em;
}
button {
    all: unset;
}
button:hover {
    background-color: rgb(235, 231, 231);
    border-radius: 1em;
}

h2 {
    background: #8ed201;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
}
.inputs {
    display: flex;
    flex-flow: row wrap;
}
.text {
    visibility: hidden;
}
form:hover .text{
    visibility: visible;
}

.subUserInput {
    margin-right: 2em;
}
.userInput, .passInput {
    margin-right: 0.5em;
}