<app-navbar-login></app-navbar-login>
<div class="opciones">
  <div class="button"><a routerLink="/uploadFile">Subir certificados</a></div>
  <button class="button" type="submit" (click)="showEliminados()">Eliminados</button>
  <button class="button" type="submit" (click)="showAtivos()">Activos</button>
  <button class="button" type="submit" (click)="showAll()">Todos</button>
  <button class="button" type="submit" (click)="showNoEliminados()">No eliminados</button>
  <button class="button ProxCaducidad" type="submit" (click)="showProxCaducidad()">Prox. Caducidad</button>
  <button class="button caducados" type="submit" (click)="showCaducados()">Caducados</button>
</div>
<section class="grid">
  <div class="certificated_head">
    <div class="title alias" (click)="sortAlias()">ALIAS</div>
    <div class="title caducidad" (click)="sortCaducidad()">CADUCIDAD</div>
    <div class="title id_orga" (click)="sortId_orga()">ID_ORGA</div>
    <div class="title nombre" (click)="sortName()">NOMBRE CLIENTE</div>
    <div class="title contacto" (click)="sortContacto()">CONTACTO</div>
  </div>
  <app-show-certificates *ngFor="let cert of certificados" [certificate]="cert" 
    class="certificated {{ cert.eliminado ? 'false' : 'true' }}">
  </app-show-certificates>
</section>
