/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
.borrar:hover {
    transition: 500ms;
    background: rgb(255, 117, 117);
    border-radius: 0.3em;
}
.alias_c:hover, .caducidad_c:hover, .id_orga_c:hover, .contacto_c:hover, .nombre_c:hover {
    border-radius: 0.3em;
    transition: 500ms;
    background-color: whitesmoke;
}