.all {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 87%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 2px;
    background: rgb(102, 102, 102);
    border-radius: 0.5em;
}
a, .welcome{
    font-size: 1.3em;
    margin: 1em;
    color: white;
}