.all {
    font-family: 'Raleway', sans-serif;
}
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    background: rgb(102, 102, 102);
    border-radius: 0.5em;
}
a, .welcome{
    font-size: 1.3em;
    margin: 1em;
    color: white;
}
/* .welcome {
    font-size: 1.3em;
    color: white;
    margin-top: 1em;
} */
/* .name {
    background: rgb(255, 255, 255);
    border-radius: 0.4em;
    color: #8ed201;
}
 */