<app-navbar-login></app-navbar-login>
<div class="formulario">
  <form>
    <div class="title">
      <h2>Modificar usuario de Jira</h2>
    </div>
    <div class="inputs">
      <div class="userInput" >
        <img src="/assets/images/user-silhouette.png" alt="Usuario">
        <div *ngIf="jiraUser" (click)="editNewName()"> <h4>{{ jiraUser.username }}</h4></div>
        <input *ngIf="!jiraUser || editName" class="subUserInput" type="text" placeholder="usuario..." 
        [(ngModel)]="newName" name="user"
        (keyup.enter)="editJiraName()"
        (blur)="cancelNewName()">
      </div>
      <div class="passInput" >
        <img src="/assets/images/key-password.png" alt="Password">
        <div *ngIf="jiraUser" (click)="editNewPass()"><h4>Modificar contraseña</h4></div>
        <input *ngIf="!jiraUser || editPass" type="password" placeholder="contraseña..." 
        [(ngModel)]="newPass" name="pass"
        (keyup.enter)="editJiraPass()"
        (blur)="cancelNewPass()">
      </div>
      <div class="urlInput">
        <img src="/assets/images/mail.png" alt="url">
        <div *ngIf="jiraUser" (click)="editNewUrl()"><h4>{{ jiraUser.url }}</h4></div>
        <input *ngIf="!jiraUser || editUrl" type="url" placeholder="url..." 
        [(ngModel)]="newUrl" name="url"
        (keyup.enter)="editJiraUrl()"
        (blur)="cancelNewUrl()">
      </div>
      <div class="projectInput">
        <img src="/assets/images/web.png" alt="project">
        <div *ngIf="jiraUser" (click)="editNewProject()"><h4>{{ jiraUser.project }}</h4></div>
        <input *ngIf="!jiraUser || editProject" type="project" placeholder="project..." 
        [(ngModel)]="newProyecto" name="project"
        (keyup.enter)="editJiraProject()"
        (blur)="cancelNewProject()">
      </div>
      <div class="componentInput">
        <img src="/assets/images/network-interface-card.png" alt="component">
        <div *ngIf="jiraUser" (click)="editNewComponente()"><h4>{{ jiraUser.component }}</h4></div>      
        <input *ngIf="!jiraUser || editComponente" type="component" placeholder="component..." 
        [(ngModel)]="newComponente" name="component"
        (keyup.enter)="editJiraComponente()"
        (blur)="cancelNewComponente()">
      </div>

    </div>
   
    <div class="sendInput" *ngIf="!valid">
      <button type="submit" value="Register">
        <img src="/assets/images/cross-in-a-circle.png" alt="enviar formulario">
      </button>
    </div>
   
  </form>
</div>
