<app-navbar-login></app-navbar-login>

<div class="certificado">
  <div class="proxCaducidad2" *ngIf="proxCaducidad">
    <p>Este certificado está a punto de caducar!</p>
  </div>
  <div class="campos" *ngIf="valid">
    <div class="celdas alias">
      <p class="title titleMod" (click)="handlerEdit('editAlias')">ALIAS:</p>
      <p class="description">{{ certificate.alias }}</p>
      <input *ngIf="editAlias" type="text" name="alias" placeholder="nuevo alias"
      [(ngModel)]="newAlias"
      (keyup.enter)="editCertAlias('newAlias')"
      (blur)="cancelHandlerEdit('editAlias', 'newAlias')">
    </div>
    <div class="celdas nArchivo">
      <p class="title titleMod" (click)="handlerEdit('editArchivo')">NOMBRE ARCHIVO</p>
      <p class="description">{{ certificate.nombre_archivo }}</p>
      <input *ngIf="editArchivo" type="text" name="alias" placeholder="nuevo nombre archivo"
      [(ngModel)]="newNameFile"
      (keyup.enter)="editCertFile('newNameFile')"
      (blur)="cancelHandlerEdit('editArchivo', 'newNameFile')">
    </div>
    <div class="celdas entidad">
      <p class="title">ENTIDAD EMISORA</p>
      <p class="description">{{ certificate.entidad_emisora }}</p>
    </div>
    <div class="celdas numSerie">
      <p class="title">NUMERO DE SERIE</p>
      <p class="description">{{ certificate.num_serie }}</p>
    </div>
    <div class="celdas subject">
      <p class="title">SUBJECT</p>
      <p class="description">{{ certificate.subject }}</p>
    </div>
    <div class="celdas caducidad">
      <p class="title">FECHA DE CADUCIDAD</p>
      <p class="description">{{ certificate.caducidad }}</p>
    </div>
    <div class="celdas idOrga_cliente">
      <p class="title titleMod" (click)="handlerEdit('editIdOrga')">ID_ORGANIZACIÓN</p>
      <p class="description">{{ certificate.id_orga }}</p>
      <input *ngIf="editIdOrga" type="text" name="alias" placeholder="nuevo id_orga"
      [(ngModel)]="newIdOrga"
      (keyup.enter)="editCertIdOrga('newIdOrga')"
      (blur)="cancelHandlerEdit('editIdOrga', 'newIdOrga')">
    </div>
    <div class="celdas lista_integraciones">
      <p class="title titleMod" (click)="handlerEdit('editLista')">LISTA DE INTEGRACIÓN</p>
      <p class="description">{{ certificate.integration_list }}</p>
      <input *ngIf="editLista" type="text" name="alias" placeholder="nueva lista de integracion"
      [(ngModel)]="newList"
      (keyup.enter)="editCertList('newList')"
      (blur)="cancelHandlerEdit('editLista', 'newList')">
    </div>
    <div class="celdas contacto">
      <p class="title titleMod" (click)="handlerEdit('editContacto')">CONTACTO DE RENOVACIÓN</p>
      <p class="description">{{ certificate.contacto_renovacion }}</p>
      <input *ngIf="editContacto" type="text" name="alias" placeholder="nuevo contacto de renovacion"
      [(ngModel)]="newContacto"
      (keyup.enter)="editCertContacto('newContacto')"
      (blur)="cancelHandlerEdit('editContacto', 'newContacto')">
    </div>
    <div class="celdas repositorio">
      <p class="title titleMod" (click)="handlerEdit('editRepositorio')">REPOSITORIO URL</p>
      <p class="description">{{ certificate.repositorio_url }}</p>
      <input *ngIf="editRepositorio" type="text" name="alias" placeholder="nueva url repositorio"
      [(ngModel)]="newRepo"
      (keyup.enter)="editCertRepo('newRepo')"
      (blur)="cancelHandlerEdit('editRepositorio', 'newRepo')">
    </div>
    <div class="celdas observaciones">
      <p class="title titleMod" (click)="handlerEdit('editObservaciones')">OBSERVACIONES</p>
      <p class="description">{{ certificate.observaciones }}</p>
      <input *ngIf="editObservaciones" type="text" name="alias" placeholder="nuevas observaciones"
      [(ngModel)]="newObser"
      (keyup.enter)="editCertObser('newObser')"
      (blur)="cancelHandlerEdit('editObservaciones', 'newObser')">
    </div>
    <div class="descargar">
      <button type="button" class="btn btn-success" 
      (click)="downloadFile(certificate)">Descargar Certificado</button>
      <button type="button" class="btn btn-primary" 
      (click)="connectJira()" *ngIf="proxCaducidad">Conectar con Jira</button>
      <button type="button" class="btn btn-warning" 
      (click)="ticketJira(certificate)" *ngIf="proxCaducidad">Abrir ticket en Jira</button>
    </div>
  </div>
  <div class="menError" *ngIf="!valid">
    <h4>Cargando Detalles.</h4>
  </div>
</div>
