/* .container {
    background-color: aquamarine;
    height: 100px;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    
} */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
}

/* .certificated {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
  padding-left: 0.2em;
  border-top: double;
} */

.certificated_head {
  display: grid;
  background-color: rgb(92, 255, 43);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: row;
  border-radius: 0.2em;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: darkblue;
  text-shadow: 4px;
  position: sticky;
  top: 0;
}

.title {
  text-justify: distribute-all-lines;
  height: 40px;
}

.title:hover {
  background-color: rgb(80, 223, 37);
}

.certificated:hover {
  transition: 500ms;
  background-color: rgb(163, 162, 162);
}

.opciones {
  display: flex;
  flex-flow: row nowrap;
}

.false {
  opacity: 0.6;
  text-decoration: line-through;
}

.button {
  all: unset;
  background-color: rgb(87, 146, 97);
  color: aliceblue;
  padding: 1em;
  border-radius: 0.2em;
  width: 100%;
  border: 1px solid black;
}
.button:hover {
  transition: 300ms;
  background: rgb(62, 102, 69);
}

a {
  color: aliceblue;
}