<app-navbar-login></app-navbar-login>
<!-- <div>
     <app-show-certificates [certificates]="data.certificates"></app-show-certificates>
   </div> -->
<!-- <app-list *ngFor="let listObj of lists" [list]="listObj">
    </app-list> -->

<section class="grid">
  <div class="certificated_head">
    <div class="title alias">ALIAS</div>
    <div class="title caducidad">CADUCIDAD</div>
    <div class="title id_orga">ID_ORGA</div>
    <div class="title nombre">NOMBRE</div>
    <div class="title contacto">CONTACTO</div>
  </div>

  <div class="certificated">
    <div class="alias_c">item-a</div>
    <div class="caducidad_c">item-b</div>
    <div class="id_orga_c">item-c</div>
    <div class="nombre_c">item-d</div>
    <div class="contacto_c">item-e</div>
  </div>

  <div class="certificated">
    <div class="item-a">item-a</div>
    <div class="item-b">item-b</div>
    <div class="item-c">item-c</div>
    <div class="item-d">item-d</div>
    <div class="item-e">item-e</div>
  </div>

  <div class="certificated">
    <div class="item-a">item-a</div>
    <div class="item-b">item-b</div>
    <div class="item-c">item-c</div>
    <div class="item-d">item-d</div>
    <div class="item-e">item-e</div>
  </div>

</section>
