<app-navbar-login></app-navbar-login>
<div class="upload">Subir certificados</div>
<section class="grid">
  <div class="certificated_head">
    <div class="title alias" (click)="sortAlias()">ALIAS</div>
    <div class="title caducidad" (click)="sortCaducidad()">CADUCIDAD</div>
    <div class="title id_orga" (click)="sortId_orga()">ID_ORGA</div>
    <div class="title nombre" (click)="sortName()">NOMBRE</div>
    <div class="title contacto" (click)="sortContacto()">CONTACTO</div>
  </div>

  <app-show-certificates *ngFor="let cert of certificados" [certificate]="cert" class="certificated">
  </app-show-certificates>

</section>
