<app-navbar-login></app-navbar-login>
<form (submit)="registerUser()">
  <div class="title">
    <h2>Registrar usuario</h2>
  </div>
  <div class="inputs">
    <div class="userInput">
      <img src="/assets/images/user-silhouette.png" alt="Usuario">
      <input class="subUserInput" type="text" placeholder="usuario" [(ngModel)]="username" name="user">
    </div>
    <div class="passInput">
      <img src="/assets/images/key-password.png" alt="Password">
      <input type="password" placeholder="contraseña" [(ngModel)]="password" name="pass">
    </div>
    <div class="emailInput">
      <img src="/assets/images/mail.png" alt="email">
      <input type="email" placeholder="email" [(ngModel)]="email" name="pass">
    </div>
    <div class="roleInput">
      <img src="/assets/images/semaphore.png" alt="permisos">
      Permisos: 
      <select autofocus [(ngModel)]="role" name="roleUsers" class="selector">
        <option [value]="0" >User</option>
        <option [value]="1" >Admin</option>
      </select>
    </div>
  </div>
  <p class="text" *ngIf="!valid">
    El usuario debe tener 4 caracteres mínimo. Y la contraseña debe contener números y letras.
  </p>
  <div class="sendInput">
    <button type="submit" value="Register">
      <img src="/assets/images/cross-in-a-circle.png" alt="enviar formulario">
    </button>
  </div>
  <div *ngIf="error"><h6>Error al crear el usuario</h6></div>
  <div *ngIf="valid">
    <p class="userCreate">
      Usuario creado!!!
    </p>
  </div>
</form>
